.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: var(--primary-color);
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 150px;
}

.logo h1{
    font-style: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.menu{
    display: flex;
    align-items: center; 
    column-gap: 2.7rem; 
    margin-bottom: 0px; 
}
.nav__item a{
    color: #898989;
    font-weight: 500; 
    cursor: pointer; 
}
.nav__icons{
    display: flex;
    align-items: center; 
    column-gap: 1.5rem; 
    padding-right: 60px;
}

.nav__icons span i{
    font-size: 1.3rem;
    color: #fff; 
    cursor: pointer;
}

.nav__icons .profile {
    position: absolute;
    left: 0;
    top: 100%;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    cursor: pointer; 
}
.pas__logout{
    display: none;
}
.pas__logout span{
    margin-top: 100px;
    display: flex;
    align-items: center;
    font-size: 100px;
    font-weight: 600;
}
.profile__actions{
    position: absolute;
    color: #fff; z-index: 10;
    padding: 10px ;
    font-weight: 600;
    background: var(--primary-color);
    margin-top: 40px;
    border-radius: 20px;
}
.bambang{
    padding-left: 20px;
    font-weight: 400;
}
.show__profileActions{
    display: block;
}

.nav__icons .profile{
    position: relative;
    z-index: 9;
}

.nav__icons .profile img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;

}
.cart__icon{
    padding-top: 5px;
    font-size: 1rem;
    color: #fff;
}

.cart__icon span{
    padding-bottom: 10px;
    font-size: 1rem;
    color: #fff;
}


.mobile__menu{
    font-size: 1.3rem;
    color: #fff;
    display: none;
}
/* buat ngeubah ketebalan saat aktif */
.nav__active {
    font-weight: 750 !important;
    color: #fff !important;
}



.sticky__header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
}

/* ini buat keranjang */
/* .nav__icons span i {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
} */
/* .mobile__menu{
    font-size: 1.3rem;
    color: #fff;
    padding: 0px 20px;
} */
/* .cart__icon{
    position: relative;
} */
/* .badge {
    width:13px; height: 13px;
    display: flex;align-items: center;justify-content: center; 
    position: absolute; top: 52%; right:0%; content: ''; background: #fff;
    color: var(--primary-color); border-radius: 50px; font-size: .45rem; font-weight: 500; z-index: 10;
} */

@media only screen and (max-width:768px){
    .navigation {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
    }
    .menu{
        position:absolute;
        top: 0;
        right: 0;
        width: 280px;
        height: 100%;
        background: var(--primary-color);
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .active__menu{
        display: block;
    }
    .mobile__menu{
        display: block;
    }
    .header{
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}
